*{
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

body{
    margin: 0;
    background-color: #0A5E2AFF;
}
.main{
    width:100vw;
    height:100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.container{
    width: 22vw;
    height: 45vh;
    
    display: flex;
    flex-wrap: wrap;
    
    
}
.cubes{
    width: 33.33%;
    height: 33.33%;
    background-color: #FE0000FF;
    border: 1px solid #EFEFE8FF;
    text-align: center;
    justify-content: center;
    color: #EFEFE8FF;
    font-size: 4rem;
    padding-top: 1%;
    
}
h1{
    position: absolute;
    top: 8vh;
    color: #EFEFE8FF;
}
#play1{
    top: 20vh;
    left: 39vw;
    width: 11%;
    font-size: 1rem;
    position: absolute;
    height: 7%;
    background-color: #6DAC4FFF;
    color: #EFEFE8FF;
}
#play2{
    top: 20vh;
    left: 50vw;
    position: absolute;
    width: 11%;
    font-size: 1rem;
    height: 7%;
    background-color: rgb(93, 143, 70);
    color: #EFEFE8FF;
}
#restart{
    position: absolute;
    top: 75vh;
    width: 10%;
    height: 7%;
    background-color: #0A5E2AFF;
    color: #EFEFE8FF;
    font-weight: 500;
    
}
#result{
    background-color: blueviolet;
    width: 300px;
    height: 30px;
}

 @media only screen 
and (min-device-width: 250px) 
and (max-device-width: 812px) 
{
    .container{
        width: 100vw;
        height: 45vh;
    }
    #play1{
        width: 50vw;
        left: 0vw;
    }
    #play2{
        width: 50vw;
    }
    #restart{
        width: 50vw;
    }

}
@media only screen
 and (min-width: 768px) 
 and (max-width: 1024px){
    .container{
        width: 80vw;
        height: 45h;
    }
    #play1{
        width: 50vw;
        left: 0vw;
    }
    #play2{
        width: 50vw;
    }
    #restart{
        width: 50vw;
    }
    
 } 